
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: #9dd899; 
  font-family: Helvetica, sans-serif;
  color: white;
  min-height: 100vh;
}

#root {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 2rem;
}